# Visual studio's Compiler stuff and binary
final-dest/
bin/
rights/

# Private python full scripts
pyscripts/discord-token-grabber.py
pyscripts/priv-code-encoder.py
pyscripts/priv-adv-discord-token-grabber-vynaxyt.py